@model Web_Reports.Entities.InfiniaWebReport
@{
    ViewData["Title"] = "EditReport";
    Layout = "~/Views/Shared/_WebReport.cshtml";
}

<br />
<h4>Rapor Düzenleme Sayfası</h4>
<br />
<br />
<form method="post" class="col-md-12">
    @Html.HiddenFor(x => x.AutoId)
    <br />
    @Html.Label("Rapor No")
    @Html.TextBoxFor(x => x.ReportId, new { @class = "form-control" })
    <br />
    @Html.Label("Rapor İsmi")
    @Html.TextBoxFor(x => x.ReportName, new { @class = "form-control" })
    <br />
    @Html.Label("Rapor Query")
    @Html.TextAreaFor(x => x.Query,30,1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>

