
@{
    ViewData["Title"] = "GrafikIndex";
    Layout = "~/Views/Shared/_WebReport.cshtml";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/skydash/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/skydash/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/skydash/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="~/skydash/text/css" href="~/skydash/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>
<form action="/Default/GrafikIndex" method="post" class="ml-5">
    <div class="form-row">
        <div class="col">
            <label for="startDate">Başlangıç Tarihi:</label>
            <input type="date" id="startDate" class="form-control" name="p1" required>
        </div>
        <div class="col">
            <label for="endDate">Bitiş Tarihi:</label>
            <input type="date" id="endDate" class="form-control" name="p2" required>
        </div>
        <button class="btn btn-outline-primary mt-2 ml-3" type="submit">Uygula</button>
    </div>
    <br />
</form>
<body>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Çek Detayları</p>
                    <p class="font-weight-500">Çek Detaylarını Görüntüleyebilirsiniz.</p>
                    <div class="d-flex flex-wrap mb-5">
                        <div class="mr-5 mt-3">
                            <p class="text-muted">Toplam Çek Sayısı</p>
                            <h3 class="text-primary fs-30 font-weight-medium">@ViewBag.v1</h3>
                        </div>
                        <div class="mr-5 mt-3">
                            <p class="text-muted">Toplam Satılan Ürün</p>
                            <h3 class="text-primary fs-30 font-weight-medium">@ViewBag.v2</h3>
                        </div>
                        <div class="mr-5 mt-3">
                            <p class="text-muted">Toplam Ciro</p>
                            <h3 class="text-primary fs-30 font-weight-medium">@ViewBag.FormattedValue ₺</h3>
                        </div>
                        <div class="mt-3">
                            <p class="text-muted">Toplam İptal Adisyon</p>
                            <h3 class="text-primary fs-30 font-weight-medium">@ViewBag.v4</h3>
                        </div>
                    </div>
                    <canvas id="order-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 stretch-card grid-margin">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">En Fazla Satılan 5 Ürün</p>

                            @if (ViewBag.v11 != null)
                            {


                                <div class="charts-data">
                                    @foreach (var item in ViewBag.v11)
                                    {
                                        <div class="mt-3">
                                            <p class="mb-0">@item.MenuItemText</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="progress progress-md flex-grow-1 mr-4">
                                                    <div class="progress-bar bg-inf0" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <p class="mb-0">@item.TotalSales Adet</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-12 stretch-card grid-margin grid-margin-md-0">
                    <div class="card data-icon-card-primary">
                        <div class="card-body">
                            <p class="card-title text-white">En Az Satılan 5 Ürün</p>
                            <div class="row">
                                <div class="col-8 text-white">
                                    @if (ViewBag.v12 != null)
                                    {
                                        @foreach (var item in ViewBag.v12)
                                        {
                                            <h3 style="margin-top:20px;">- @item.MenuItemText - @item.TotalSales Adet</h3>
                                        }
                                    }
                                    else
                                    {
                                        <h3> ****** - 0 Adet</h3>
                                    }
                                    <p class="text-white font-weight-500 mb-0" style="margin-top:15px;">En az satılan ürün için kampanya veya promosyon oluşturarak satışına etki edebilirsiniz. </p>
                                </div>
                                <div class="col-4 background-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card position-relative">
                <div class="card-body">
                    <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                                        <div class="ml-xl-4 mt-3">
                                            <p class="card-title">Detaylı Rapor</p>
                                            <h2 class="text-primary">@ViewBag.FormattedValue ₺</h2>
                                            <h3 class="font-weight-500 mb-xl-4 text-primary">Türkiye</h3>
                                            <p class="mb-2 mb-xl-0">Yukarıda bulunan tarih filtresi ile şube bazlı ciro raporlarınızı görüntüleyebilirsiniz. İsterseniz daha farklı raporlar için sol tarafta bulunan diğer raporlarıda ziyaret edebilirsiniz.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xl-9">
                                        <div class="row">
                                            <div class="col-md-6 border-right">
                                                <div class="table-responsive mb-3 mb-md-0 mt-3">
                                                    <table class="table table-borderless report-table">
                                                        <tr>
                                                            <td class="text-muted">Üsküdar</td>
                                                            <td class="w-100 px-0">
                                                                <div class="progress progress-md mx-4">
                                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </td>
                                                            <td><h5 class="font-weight-bold mb-0">@ViewBag.v5 ₺</h5></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-muted">Çekmeköy</td>
                                                            <td class="w-100 px-0">
                                                                <div class="progress progress-md mx-4">
                                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </td>
                                                            <td><h5 class="font-weight-bold mb-0">@ViewBag.v6 ₺</h5></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-muted">Buyaka</td>
                                                            <td class="w-100 px-0">
                                                                <div class="progress progress-md mx-4">
                                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </td>
                                                            <td><h5 class="font-weight-bold mb-0">@ViewBag.v7 ₺</h5></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-muted">Maltepe</td>
                                                            <td class="w-100 px-0">
                                                                <div class="progress progress-md mx-4">
                                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </td>
                                                            <td><h5 class="font-weight-bold mb-0">@ViewBag.v8 ₺</h5></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-muted">Pendik</td>
                                                            <td class="w-100 px-0">
                                                                <div class="progress progress-md mx-4">
                                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </td>
                                                            <td><h5 class="font-weight-bold mb-0">@ViewBag.v9 ₺</h5></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-muted">Tuzla</td>
                                                            <td class="w-100 px-0">
                                                                <div class="progress progress-md mx-4">
                                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </td>
                                                            <td><h5 class="font-weight-bold mb-0">@ViewBag.v10 ₺</h5></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt-3">
                                                <canvas id="north-america-chart"></canvas>
                                                <div id="north-america-legend"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#detailedReports" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#detailedReports" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/skydash/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/skydash/vendors/chart.js/Chart.min.js"></script>
    <script src="~/skydash/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/skydash/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/skydash/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/skydash/js/off-canvas.js"></script>
    <script src="~/skydash/js/hoverable-collapse.js"></script>
    <script src="~/skydash/js/template.js"></script>
    <script src="~/skydash/js/settings.js"></script>
    <script src="~/skydash/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/skydash/js/dashboard.js"></script>
    <script src="~/skydash/js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
</body>

</html>

